.App-header {
  //background-color: rgb(37, 5, 243);
  //border-radius: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.selected {
  display: flex;
  font-family: sans-serif;
}

.submit {
  position: absolute;
  height: 50px;
  width: 95px;
  border: 1px solid #0000;
  border-radius: 10px;
  background-color: rgb(254, 254, 254);
  color: rgb(1, 22, 255);
  font-size: 20px;
  margin: 2.5% 2% 150px;
  right: 0px;
}
.submit:hover {
  background-color: #b0f8fc;
}

.submitText {
  font-family: 'Poppins';
  font-weight: 550;
  color: rgb(1, 22, 255);
  font-size: 25px;
  text-decoration: none; //убираем нижнее подчеркивание
  justify-content: center;
  align-items: center;
}

.loginName {
  margin-left: -110px;
  font-size: larger;
}
