.App-header {
  background-color: rgb(37, 5, 243);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 10px;
}
.selected {
  display: flex;
  font-family: sans-serif;
}

.searchClass {
  position: relative;
  margin: auto;
  width: 80%;
}
.search {
  height: 50px;
  width: 50%;
  border-radius: 10px;
  margin-left: -45%;
  padding-left: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(57, 7, 234);
}
.icon {
  width: 25px;
  height: 25px;
  opacity: 0.3;
  position: absolute;
  margin-left: -44%;
  margin-top: 1%;
  // left: 40px;
}

.submit {
  position: absolute;
  height: 50px;
  width: 95px;
  border: 1px solid #0000;
  border-radius: 10px;
  background-color: rgb(254, 254, 254);
  color: rgb(1, 22, 255);
  font-size: 20px;
  margin: auto 20px;
  right: 0px;
}
.submit:hover {
  background-color: #b0f8fc;
}
