.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  li a {
    padding: 0 16px;
  }
}
.page-data {
  display: flex;
  margin: auto 5px;
  cursor: pointer;
}
.page-item {
  background-color: rgb(102, 215, 250);
  width: 45px;
  height: 38px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  list-style-type: none; //убираем точку перед li
}
.page-link {
  font-family: cursive;

  text-decoration: none; //убираем нижнее подчеркивание
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.page-link.active,
.page-link.active:hover,
.page-link:hover {
  color: rgb(255, 225, 0);
  border: 1px solid rgb(30, 43, 221);
  background-color: #0457d4;
  transition: 0.7s;
}
