.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  .form {
    width: 80%;
    .registry {
      color: #1900d5;
      margin-left: 10px;
      cursor: pointer;
    }
  }
  .to_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #1900d5;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Poppins';
    text-decoration: none; //убираем нижнее подчеркивание
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 640px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ccc;
}
