.price {
  border-radius: 5px;
  background-color: #0d6efd;
  border: 1px solid rgb(30, 43, 221);
  color: rgb(255, 255, 255);
  height: 60px;
  width: 400px;
  font-size: large;
  margin: auto 10px;
}

.name {
  margin: 20px 10px;
}
.price-for {
}

.price-for,
.price-from {
  border-radius: 5px;
  width: 140px;
  height: 30px;
  margin: 10px 5px;
  color: rgb(30, 43, 221);
  font-family: cursive;
  font-size: large;
}
