.filter {
  display: flex;
  height: 250px;
  width: 100%;
  background-color: rgb(111, 207, 255);
  border-radius: 10px;
}

.filterClass {
  font-family: cursive;
  margin: 10px;
}

.setting {
  display: flex;
  margin: 15px 50px;
}

.btn-group {
  width: auto;
}

.car {
  margin-right: 10px;
  width: 300px;
  border-radius: 10px;
}

.btn-primary {
  font-family: cursive;
  font-size: large;
  border: 1px solid rgb(27, 3, 88);
  width: 200px;
  height: 40px;
  border-radius: 5px;
  position: relative;
}

.btn-toolbar {
  margin-right: 10px;
}

.dropdown-menu {
  list-style-type: none; //убираем точки вначале
  background-color: rgb(42, 187, 255);
  position: absolute;
  width: 200px;
  border-radius: 5px;
  margin-left: 0;
  padding-left: 0;
  z-index: 1;
  border: 1px solid rgb(27, 3, 88);
}
.dropdown-item {
  width: 200px;
}
.dropdown-item.active,
.dropdown-item:hover,
.dropdown-item.active:hover {
  color: rgb(255, 225, 0);
  border: 1px solid rgb(30, 43, 221);
  background-color: #0457d4;
  transition: 0.7s;
}
