.burger {
  padding: 0;
  margin: 2.3733333333rem 0 1.424rem 0;
  box-sizing: border-box;
}

nav {
  // position: fixed;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  background-color: rgb(111, 207, 255);
  border-radius: 50%;
  z-index: 50;
  display: flex;
  align-items: center;
  cursor: pointer;
}
main {
  padding: 50px;
}

p {
  margin: 20px;
}

.burger-btn {
  margin-left: 15px;
  position: relative;
  margin-top: -20px;
}

.burger-btn::before {
  content: '';
  position: absolute;
  width: 20px;
  background-color: rgb(0, 0, 0);
  height: 2px;
}

.burger-btn span {
  position: absolute;
  margin: 10px 0;
  width: 20px;
  background-color: rgb(0, 0, 0);
  height: 1.9px;
}

.burger-btn::after {
  content: '';
  position: absolute;
  width: 20px;
  background-color: rgb(0, 0, 0);
  height: 2px;
  margin-top: 20px;
}
