.btn-category {
  display: flex;
  flex-direction: row;
  background-color: #0d6efd;
  margin: 5px 40px;
  width: 450px;
  height: 60px;
  border-radius: 5px;
}
.btn-category-text {
  width: 150px;
  color: #fff;
  font-size: large;
  height: 60px;
}
.btn-category-primary {
  width: 100px;
  padding: 18px 0px 0px 0px;
  border-radius: 5px;
}
