.Home {
  text-align: center;
  width: 88%;
  margin: auto;
  position: relative;
}

.load {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #fff;
  font-family: cursive;
}

.fon {
  left: -7%;
  top: 0;
  position: absolute;
  z-index: -1;
  width: 113.7% !important;
  height: 102%;
}
