.me-2 {
  display: flex;
}
.btn-text {
  display: flex;
  color: #fff;
  font-size: large;
  width: 230px;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.btn-num {
  width: 52px;
  height: 62px;
}
