.cars {
  //background-color: rgb(219, 244, 247);
  border-radius: 10px;
  margin-top: -18px;
}
.cars-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  margin: 1% 2%;
  border-radius: 10px;
}
.car-one {
  margin: 15px 5px 0px;
  padding: 10px;
  background-color: rgb(174, 233, 239);

  border-radius: 10px;
}
.carText {
  background-color: rgb(86, 219, 243);
  height: 40px;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.img-car {
  height: 250px;
  width: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.names {
  font-size: larger;
  font-weight: 500;
  font-size: larger;
}

.prices {
  font-weight: 900;
  font-size: larger;
  background-color: rgb(86, 219, 243);
  height: 40px;

  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.description {
  height: 250px;
}
.city {
}
.phone {
}
