.stateCar {
  font-family: cursive;
  font-size: large;
  border-radius: 5px;
  margin: auto 10px;
}
.btn-stateCar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: cursive;
  font-size: large;
  width: 350px;
  height: 60px;
  border-radius: 5px;
  padding: 0;
}
