.categoryCar {
  background-color: rgb(6, 164, 243);
  border-radius: 10px;
  display: flex;
  margin: 10px 50px 5px;
  height: 60px;
}

.categoryCarSetting {
  height: 35px;
  margin: 10px 20px 0px 0px;
}

.btn-car {
  width: 150px;
  height: 40px;
  background-color: rgb(1, 130, 243);
  border-radius: 10px;
  border: 1px solid rgb(14, 6, 243);
  color: #fff;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 10px;
}
.btn-car:hover {
  background-color: #005eeb;
}
