.categoryCar {
  background-color: #0d6efd;
  margin: 5px 40px;
  max-width: 100vmax;
  height: 50px;
  border-radius: 5px;
}

.categoryCarSetting {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 0px 10px;
}

.btn-car {
  width: 150px;
  height: 30px;
  background-color: rgb(1, 130, 243);
  border-radius: 10px;
  border: 1px solid rgb(14, 6, 243);
  color: #fff;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 10px 10px;
}
.btn-car:hover {
  background-color: #005eeb;
}
